# Librería para manejar el bucle del juego y eventos de teclado
pygame==2.5.0

# Librería para manipulación de arreglos y matrices (para la lógica del tablero y tetrominós)
numpy==1.26.0

# Librería para generar arte ASCII en la consola
pyfiglet==0.8.post1

# Librería para colorear texto en la consola
termcolor==2.4.0

# Librerías para pruebas BDD con Gherkin
behave==1.2.6

# Librería para pruebas unitarias
pytest==7.4.2
